In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [26]:
def imports(data):
    data_imported = pd.read_csv(data)
    return data_imported

In [32]:
train = imports("../data/train.csv")
test = imports("../data/test.csv")
store = imports("../data/store.csv")

C:\Users\Victor Olufemi\AppData\Local\Temp\ipykernel_9832\1639793617.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data_imported = pd.read_csv(data)

In [33]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [36]:
train['Date'] = pd.to_datetime(train['Date'])
train['Year'] = train.Date.dt.year
train['Month'] = train.Date.dt.month
train['Day'] = train.Date.dt.day
train['WeekOfYear'] = train.Date.dt.weekofyear

train['SalePerCustomer'] = train['Sales']/train['Customers']
train['SalePerCustomer'].describe()

C:\Users\Victor Olufemi\AppData\Local\Temp\ipykernel_9832\1877852999.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  train['WeekOfYear'] = train.Date.dt.weekofyear

count    844340.000000
mean          9.493619
std           2.197494
min           0.000000
25%           7.895563
50%           9.250000
75%          10.899729
max          64.957854
Name: SalePerCustomer, dtype: float64

In [37]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,WeekOfYear,SalePerCustomer
0,1,5,2015-07-31,5263,555,1,1,0,1,2015,7,31,31,9.482883
1,2,5,2015-07-31,6064,625,1,1,0,1,2015,7,31,31,9.702400
2,3,5,2015-07-31,8314,821,1,1,0,1,2015,7,31,31,10.126675
3,4,5,2015-07-31,13995,1498,1,1,0,1,2015,7,31,31,9.342457
4,5,5,2015-07-31,4822,559,1,1,0,1,2015,7,31,31,8.626118

In [40]:
train.name = 'Train'
test.name = 'test'
store.name = 'store'
def data_shape(data):
    print(data.name,'shape:',data.shape)

# function to ckeck the size of a dataset
def data_size(data):
    print(data.name,'size:',data.size)

# function to ckeck the information of a dataset
def data_info(data):
    print(data.name,'information:')
    print('********')
    print(data.info())
    print('********')   
    
# function to get all unique values in the categorical variables
def unique_val(data):
    cols = data.columns
    for i in cols:
        if data[i].dtype == 'O':
            print('Unique values in',i,'are',data[i].unique())
            print('----------------------------------------------')

# function to ckeck for missing values
def missing_val(data):
    print('Sum of missing values in', data.name)
    print('------------------------------')
    print(data.isnull().sum())
    print('------------------------------')
    
"""
VISUALIZATION
"""
def fig_size(x, y):
    plt.figure(figsize=(x,y))
    
def get_value(figure):
    for p in figure.patches:
        figure.annotate(format(p.get_height()), (p.get_x() + p.get_width() / 2.,
                            p.get_height()), ha = 'center', va = 'center', 
                            xytext = (0, 10), textcoords = 'offset points')
        
def fig_att(figure, title, title_x, title_y, size, size_xy, weight):
    figure.set_title(title, size=size, weight=weight)
    figure.set_xlabel(titlex, size=sizexy, weight=weight)
    figure.set_ylabel(titley, size=sizexy, weight=weight)
    
def fig_att2(title, titlex, titley, size, sizexy, weight):
    plt.title(title, size=size, weight=weight)
    plt.xlabel(titlex, size=sizexy, weight=weight)
    plt.ylabel(titley, size=sizexy, weight=weight)

def rotate(figure, rotation):
    for item in figure.get_xticklabels():
        item.set_rotation(rotation)

Checking for Shape

In [41]:
for data in [train,test,store]:
    data_shape(data)
    data_size(data)
    print('*****')

Train shape: (1017209, 14)
Train size: 14240926
*****
test shape: (41088, 8)
test size: 328704
*****
store shape: (1115, 10)
store size: 11150
*****

In [42]:
train.StateHoliday.unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

In [43]:
test.StateHoliday.unique()

array(['0', 'a'], dtype=object)

In [45]:
train['StateHoliday'].replace({'0':'o',0:'o'}, inplace=True)
test['StateHoliday'].replace({'0':'o'}, inplace=True)

In [46]:
for i in [train,test,store]:
    missing_val(i)

Sum of missing values in Train
------------------------------
Store                   0
DayOfWeek               0
Date                    0
Sales                   0
Customers               0
Open                    0
Promo                   0
StateHoliday            0
SchoolHoliday           0
Year                    0
Month                   0
Day                     0
WeekOfYear              0
SalePerCustomer    172869
dtype: int64
------------------------------
Sum of missing values in test
------------------------------
Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64
------------------------------
Sum of missing values in store
------------------------------
Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64
------------------------------

In [47]:
#handling missing values
missing_cols = ['CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval']

for cols in missing_cols:
    store[cols].fillna(store[cols].mode()[0], inplace=True)
    
store['CompetitionDistance'].fillna(store['CompetitionDistance'].median(), inplace=True)

store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,14.0,2011.0,"Jan,Apr,Jul,Oct"
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,14.0,2011.0,"Jan,Apr,Jul,Oct"
4,5,a,a,29910.0,4.0,2015.0,0,14.0,2011.0,"Jan,Apr,Jul,Oct"

Are the promotions distributed similarly between these two groups?

In [52]:
train.Promo.value_counts()

0    629129
1    388080
Name: Promo, dtype: int64

In [53]:
test.Promo.value_counts()

0    24824
1    16264
Name: Promo, dtype: int64

In [50]:
#Merging train and store data for better exploration
train_store = pd.merge(train, store, on='Store')
train_store.name = 'Combined'